<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>BookletZERO API</h1>
    <p>Exam Test Booklet Generator API</p>
  </div>

  
  <a href="/dashboard/category" class="btn btn-primary">Categories</a>


</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>